@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:white;
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #023b6d;
    cursor: pointer;
   
    
}

.nav li{
    float: left;
    list-style: none;
    padding: 20px 20px;
    
}
.nav li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    
    
}
.nav li a input{
    padding: 5px 10px;
    background-color: #023b6d;
    border: 1px solid white;
}
.nav li a img{
    position: relative;
    bottom: 0px;
    right: 40px;
    width: 25px;
    cursor: pointer;
}
.first{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first h1{
    color: #023b6d;
    font-size: 40px;
    font-weight: 900;
    font-family: 'martel sans','sana-serif';
}
.first span{
    font-size: 19px;
    color: #023b6d;
    font-weight: bolder;
    font-family: 'martel sans','sana-serif';
}
.con{
    height: 320px;
    width: 80%;
  
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #01182c;
    cursor: pointer;
    
}
.con img{
    height: 320px;
    width: 390px;
    filter: brightness(85%);
    cursor: pointer;
}
.text{
    height: 320px;
    width: 60%;
    margin: auto;
   
    position: relative;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    
}
.text h1{
    color:#189bda;
    font-size: 20px;
    font-weight: 900;
    font-family: 'martel sans','sana-serif';
    padding: 10px 0px 0px 0px;
    text-align: justify;
    cursor: pointer;

}
.text p{
    color:#444444;
    font-size: 17px;
    font-weight: 900;
    font-family: 'martel sans','sana-serif';
    padding: 10px 0px 0px 0px;
    text-align: justify;
    cursor: pointer;
}
.btn{
    padding: 15px 30px;
    margin: 10px 10px;
    color:#009bd9;
    border-radius: 10px;
    cursor: pointer;
}
.btn1{
    padding: 15px 30px;
    margin: 10px 10px;
    color: #035195;
    border-radius: 1px;
    border: 2px solid  #035195 ;
    cursor: pointer;
}
.div1{
    height: 300px;
    width: 100%;
    margin: auto;
    background-color: #023b6d;
}
.div2{
    height: 200px;
    width: 30%;
    margin-left: 120px;
   
    font-family: 'Times New Roman', Times, serif;
}
.div2 img{
    width: 60%;
    margin-top: 70px;
}
.div2 p{
    color:rgba(255, 255, 255, 0.7);
    font-size: 16px;
}
.icon{
      height: 100px;
      width:100%;
   
    
}
.icon img{
    height: 35px;
    width: 35px;
    position: relative;
    left: 0px;
    bottom: 60px;
    margin-left: 25px;
}
.foot{
    height: 300px;
    width: 100%;
    position: relative;
    left: 530px;
    bottom: 300px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.foot h1{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 60px;
    margin-left: 30px;
    font-size: 28px;
    
}
.foot ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 30px;
     padding: 7px;
     font-size: 20px;

}


